<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <style>
        table{
            margin-top: 20px;
        }
        td,th{
            border: 1px solid gray;
            padding: 4px;
        }
        #editaRecurso{
            color: white;
            position: fixed;
            padding: 10%;
            top: 30%;
            width: 50%;
            background: #202020;
        }
        #editaRecursoPanel{
            color: black;
            padding: 12px;
            opacity: 1;
            background: gray;
        }
        img{
            width: 98px;
        }
    </style>
</head>
<body>
    <div id="vueSistema">
        <h2>Sistema</h2>
        <a href="#" @click="fazerLogout">Logout</a>
        <div>
            <h3>Recursos</h3>
            <div id="cria">
                <h4>Criar Recurso</h4>
                <form id="fotoForm" method="post" enctype="multipart/form-data" action="http://localhost:8888/recurso/uploadfoto">
                    Nome: <input type="text" v-model="create.nome"><br><br>
                    <input type="file" name="iFoto"><input type="checkbox" v-model="create.temFoto"> Incluir imagem<br><br>
                    <button type="button" @click="criarRecurso">Inserir</button>
                </form><br>
                Data atual: {{ dataAgora }}<br><br>
            </div>
            <div id="busca">
                <h4>Buscar Recurso</h4>
                Buscar por: 
                <input type="radio" name="buscaTipo" value="id" v-model="select.tipo"> id
                <input type="radio" name="buscaTipo" value="nome" v-model="select.tipo"> Nome
                <input type="radio" name="buscaTipo" value="data" v-model="select.tipo"> Data (TODO)
                <input type="radio" name="buscaTipo" value="dono" v-model="select.tipo"> Dono
                <br><br>
                Valor: <input type="text" v-model="select.valor"> 
                <button type="button" @click="selectRecurso(1)">Buscar</button>
            </div>
            
            <table id="recursos" style="display: inline-block">
                <thead>
                    <tr>
                        <th>Foto</th><th>Id</th><th>Nome</th><th>Data</th><th>Dono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(recurso, i) in recursos">
                        <td>
                            <template v-if="recurso.foto == ''"><!--Caso o recurso não tenha foto (v-if)-->
                                <h4>Sem foto</h4>
                            </template>
                            <template v-else><!--Caso o recurso tenha foto (v-else)-->
                                <img v-bind:src="recurso.foto">
                            </template>
                        </td>
                        <td>{{recurso.id}}</td><td>{{recurso.nome}}</td>
                        <td>{{recurso.data}}</td><td>{{recurso.donoNome}}</td>
                        <td><button type="button" @click="deletarRecurso(recurso.id)">Deletar</button></td>
                        <td><button type="button" @click="verifAtualizarRecurso(recurso.id)">Modificar</button></td>
                    </tr>
                </tbody>
            </table>
            <div id="editaRecurso" v-if="editarRecurso"><!--Div dinâmica (v-if) de edição de recurso-->
                <h2>Editar recurso</h2>
                <div id="editaRecursoPanel">
                    Nome: <input type="text" v-model="update.nome"><br><br>
                    Data: <input type="text" v-model="update.data"><br><br>
                </div>
                <button type="button" @click="atualizarRecurso">Atualizar</button>
                <button type="button" @click="fechaRecurso">Cancelar</button>
            </div>
        </div>
    </div>
    <script src="../controller/sistema-controller.js"></script>
</body>
</html>